# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\淘淘购物系统实训\taotao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
